
<header class="container-fluid">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="d-flex justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link" routerLink="./home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./houses">Houses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./characters">Characters</a>
        </li>
        <li>
          <a class="nav-link" routerLink="./register">Request</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      </div>
    
  </nav>
</header>


